**.idea
**AppMaven/src
**AppGradle/src
**AppGradle/.gradle
**AppGradle/.build
**build/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
**.iws
**.iml
**.ipr
**out/
!**/src/main/**/out/
!**/src/test/**/out/
